/* frontend_cripto/src/App.css */

/* Estilos generales del cuerpo y la aplicación */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; /* Color de fondo principal */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0; 
  margin: 0;
  width: 100%;
}

/* Estilos del encabezado de la página de inicio */
.App-header {
  background-color: #281f49; /* CAMBIO AQUÍ: Nuevo color de fondo */
  min-height: calc(100vh - 80px); /* Ajuste según la altura de navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 20px; 
}

.App-header h1 {
  font-size: 3.5em; /* Tamaño de fuente para el título principal */
  color: #ffffff; /* Color de acento */
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
}

.App-header p {
  font-size: 1.5em; /* Tamaño de fuente para el subtítulo */
  color: #ffffff;
  font-family: 'Inter', sans-serif; /* Puedes cambiar por otra fuente si lo deseas */
  margin-bottom: 30px; 
}

/* --- NUEVO ESTILO PARA EL BOTÓN "VER PORTAFOLIO" --- */
.view-portfolio-button {
  background-color: #493696; /* Un morado vibrante */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px; /* Bordes más redondeados */
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.view-portfolio-button:hover {
  background-color: #382a70; /* Morado más oscuro al pasar el ratón */
  transform: translateY(-2px); /* Efecto de "levantar" */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más grande al pasar el ratón */
}
/* --- FIN NUEVO ESTILO --- */

/* Media queries para responsividad */
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 2.5em; /* Ajuste para pantallas más pequeñas */
  }

  .App-header p {
    font-size: 1.2em; /* Ajuste para pantallas más pequeñas */
  }

  .view-portfolio-button {
    font-size: 1.1em;
    padding: 12px 25px;
  }
}